/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#header_add {
    font-weight: bold;
}
#header_add span a{
    color:white;
    text-decoration: none;
    font-weight: normal;
}

/*Annotation menu*/
#videoAnnotationMenu {
    background-color: red;
    height: 32px;
    left: 306px;
    position: absolute;
    top: 120px;
    width: 360px;
    z-index: 2;
}

#fbs_list {
    top:335px !important;
    left:50% !important;
    margin-left: -250px !important;
}

#fbs_ flyout {
    top:335px !important;
    left:50% !important;
    margin-left: -250px !important;
}

/*menu*/
.menu {
	width: 300px;
	margin: 0 0 0 12px;
    padding: 0;
}

.menu li {
    list-style: none;
    height:35px;
}

.menu li a {
	height: 32px;
  	voice-family: "\"}\"";
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}

.menu li a {
	color: #8BADCF;
	display: block;
	background:  url(../img/menu.gif);
	padding: 8px 8px 0 10px;
	}

.menu li a:hover {
	color: #0C2044;
	background:  url(../img/menu.gif) 0 -32px;
	padding: 8px 8px 0 10px;
	}

#footer {
    margin-top:10px;
}

#transcript {
    padding: 5px;
}

#shot {
    padding: 5px;
}

#info_button {
    width:16px;
    height:16px;
    position:absolute;
    top:0;
    right:0;
    margin:-8px -8px 0 0;
    z-index:1000;
    cursor:pointer;
}

#metadata {
    display: none;
    position:absolute;
    top:0;
    left:0;
    width:640px;
    height:360px;
}
#metadata_back {
    width:100%;
    height:100%;
    background-color:#0C2044;
    opacity: 0.7;
    position:absolute;
    z-index:1;
}
#metadata_front {
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    opacity: 0.9;
    font-family: courier, monospace;
    padding: 5px;
    color:white;
}

#metadata_front table {
    color:white;
    font-size:13px;
}

#concepts{
    width: 312px;
    position:relative;
    float:left;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #808080;
    min-height: 360px;
}

.concept h2 {
    background-color: #0C2044;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 5px 5px 5px 7px;
    width: 100%;
}

.person_concept_header{
    background-image:url('../img/person.png');
    background-repeat:no-repeat;
    background-position:right 1px;
}

.location_concept_header{
    background-image:url('../img/wolrd.png');
    background-repeat:no-repeat;
    background-position:300px 2px;
}

.concept_concept_header{
    background-image:url('../img/concept.png');
    background-repeat:no-repeat;
    background-position:300px 2px;
}

.freebase_concept_header{
    background-image:url('../img/freebase.png');
    background-repeat:no-repeat;
    background-position:300px 2px;
}

.concept {
    background-color:white;
}

.concept div {
    width: 100%;
    padding: 0 5px 5px;
    font-size: 12px;
    text-align: justify
}

.concept img {
    float:left;
    margin-bottom: 1px;
    margin-right: 5px;
    max-width:120px;
    max-height:120px;
}

.more {
    font-size:11px;
    color:#DD013F;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3px;
}

.video_overlay{
    border-color: lightgray gray gray lightgray;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 30px black;
}

.video_overlay_border{
    background-color: #0C2044;
    opacity: 0.8;
}

.concept_header_loader {
    float:right !important;
    margin-right:23px !important;
}

