/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*facets*/

.facet {
    margin-left: 10px;
    padding-right: 17px;
    background: url('../img/delete.gif') no-repeat scroll 100% 0 transparent;
    cursor: pointer;
}

h2 {
    font-size: 16px;
    color:#0C2044;
    margin: 0;
}

h3 {
    font-size: 14px;
    color:#4F607F;
    margin:0;
}

h4 {
    font-size: 12px;
    color:#4F607F;
    margin:0;
}

h2 a {
    color:#0C2044;
}

h2 a span {
    font-size:11px;
    margin-left:5px;
}

#pager-header{
        margin-bottom: 10px;
}

#pager-header span {
    color:gray;
    font-size:12px;
}


#paging {
    text-align:center;
    font-size:13px;
    padding-top: 30px;
}

#paging a{
    color:#0C2044;
    text-decoration:none;
}

#paging a:hover{
    text-decoration:underline;
}

#paging li{
    list-style-type: none;
    display: inline;
}

.pager-current {
    color: #DD013F;
    font-weight:bold;
}

#middle-right {
    width:650px;
    float:left;
}

#middle-left {
    width:310px;
    padding-left: 10px;
    float:left;
    margin-left:10px;
    border-left:1px solid #0C2044;
}

#middle-left div {
    margin: 5px 0 20px 0;
    color: #4F607F;
    font-size: 12px;
}

#middle-left div a{
    color: #4F607F;
    text-decoration: none;
    font-size: 12px;
    margin: 0 5px 0 0;
}

.result p {
    color:#0C2044;
    font-size:14px;
}

.result {
    margin-bottom:20px;
}

.clear {
    clear:left;
}

.result em {
    color:#DD013F;
}