/**
 * Copyright (c) 2013 Salzburg Research
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Code Style */

pre.prettyprint {
    color: #000;
    white-space: normal !important;
}

pre.prettyprint .com {
    color: #3f7f5f;
}

pre.prettyprint .lit {
    color: #0000c0;
}

pre.prettyprint .str {
    color: #2a00ff;
}

pre.prettyprint .typ {
    color: #0000c0
}

pre.prettyprint .kwd {
    color: #7f0055;
}

pre.prettyprint .pln {
    color: #000;
}

pre.prettyprint .pun {
    color: #444;
}
