/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * Copyright (c) 2012 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#center table th.group {
    background: #999999;
    color: #000;
}

#refresh_box {
    display: inline-block;
    float: right;
}

#messages>div {
    margin: 5px;
    padding: 5px;
    border: 1px solid orange;
    background: rgba(255, 255, 0, 0.3);
    border-radius: 5px;
}

#messages>div.error {
    border-color: red;
    background: rgba(255, 0, 0, 0.3);
}

.updating {
    background: url("../../core/public/img/loader/lmf-loader_16.gif") no-repeat left center;
    padding-left: 20px;
}