/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#personalRecommenderHeader {
    background-color: #FFFF00;
    height: 100px;
    margin-bottom: 12px;
}
#personalRecommenderNav {
    background-color: #FFCC00;
    left: 10px;
    position: absolute;
    top: 122px;
    width: 230px;
    padding: 5px;
}
#personalRecommenderContent {
    background-color: #FFFFC6;
    margin-left: 250px;
    padding: 5px;
    width: auto;
}
#personalRecommenderContent #personalRecommenderContentKey {
    background-color: #C6FFFF;
    margin: 0 0;
    padding: 5px;
    position: absolute;
    width: 160px;
}
#personalRecommenderContent #personalRecommenderContentValue {
    background-color: #FFC6FF;
    margin-left: 180px;
    padding: 5px;
}